#default
alias ls='ls --color=auto'
alias grep='grep --color=auto'

#aliases travail
alias lsl="ls -l"
alias lsla="ls -la"
alias c="clear"
alias grepc="grep --color=always"

#aliases perso
alias ..="cd .."
alias cd..="cd .."
